.introductionContainer {
  margin-top: 50px;
  display: flex;
  position: relative;
}

.aboutMe {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: beige;
  z-index: 2;
}

.photo1 {
  position: absolute;
  top: 6px;
  left: 350px;
}
